/_build/
/_checkouts/
/priv/dev_sev_gpu/*.so
/priv/dev_sev_gpu/lib/
/.rebar3/
/erl_crash.dump
/hyperbeam-key.json
/PUBLISH.md.tmp
/cache-mainnet/
/logs/
/vendor/permaweb-os/native/lapee_snp_nif/target/
/vendor/permaweb-os/src/priv/
